@using FirstTake.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>League Table</h1>
<table class="table">
    <tr>
    <th> Position </th>
    <th> TeamName </th>
    <th>Wins</th>
    <th>Draws</th>
    <th>Losses</th>
    <th>Goals For</th>
    <th>Goals Against</th>
    <th>Goal Difference</th>
    <th>Points</th>
</tr>
    @{ 
        if (ViewData["results"] != null)
        {

            int count = 0;
            foreach (LeagueTableResult res in (IEnumerable<LeagueTableResult>)ViewData["results"])
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td><a href="/teams/view/@res.TeamId">@res.TeamName</a></td>
                    <td>@res.Wins</td>
                    <td>@res.Draws</td>
                    <td>@res.Losses</td>
                    <td>@res.GoalsFor</td>
                    <td>@res.GoalsAgainst</td>
                    <td>@res.GoalDifference</td>
                    <td>@res.Points</td>

                </tr>
            }
        }
       
    }

</table>

